.slider {
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin solid red;
}

.slide {
  position: relative;
  border: thin solid blue;
  width: 90%;
  min-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  position: absolute;
  background-color: violet;
  color: black;
  top: 50%;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: none;
  margin: 16px;
  z-index: 99;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
