.slider {
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 400px; /* Remove hardcode 400px */
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.list {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  transition: all 0.5s ease-in;
  z-index: 98;
}

.slide {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide img {
  height: 100%;
  margin: 16px;
}

.nav {
  position: absolute;
  background-color: rgba(238, 130, 238, 0.5);
  color: black;
  top: calc(50% - 28px);
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: none;
  margin: 16px;
  z-index: 99;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
