.thumbnail-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.thumb {
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.thumb:hover {
  opacity: 0.5;
}

.thumb img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.selected {
  border-top: 4px solid red !important;
}

button:disabled {
  background-color: grey !important;
}
